html{
    background-color: rgb(44, 111, 21);
}
.game-main1{
    height: 250px;
    text-align: center;
    width: 1000px;
    font-size: 180px;
    font-weight: 600;
    padding-top: 150px;
    }
.game-main2{
    height: 130px;
    text-align: center;
    width: 1000px;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.start{
    width: 300px;
    height: 80px;
    font-size: 37px;
    margin: 0 50px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 60px;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 106s ease;
    -o-transition: all 1s ease;
    transition: all  1s ease;
}
.start2{
    width: 300px;
    height: 80px;
    font-size: 37px;
    margin: 0 50px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 60px;
    background-color: #000000;
    color: #ffffff;
    -webkit-transition: all 1s ease;
    -moz-transition: all 106s ease;
    -o-transition: all 1s ease;
    transition: all  1s ease;
}
.start:hover{
    background:url(images/1人.png)no-repeat;
    background-size:contain;
    background-position: right;
    text-align: left;
    width: 400px;
    height: 100px;
    font-size: 35px;
    padding-left: 20px;
    background-color: #000000;
    color: #ffffff;
}
.start2:hover{
    background:url(images/2人.png)no-repeat;
    background-size:contain;
    background-position: right;
    text-align: left;
    width: 400px;
    height: 100px;
    font-size:35x;
    padding-left: 20px;
    background-color: #ffffff;
    color: #000000;
}
.game-main3{
    height: 150px;
    text-align: right;
    width: 1000px;
    font-size: 50px;
    display: flex;
}
.rule{
    height: 60px;
    width: 160px;
    margin-left: 80%;
    text-align: center;
    font-size: 40px;
    background-color: #ffffff;
    -webkit-transition: all 1s ease;
    -moz-transition: all 106s ease;
    -o-transition: all 1s ease;
    transition: all  1s ease;
}
.rule:hover{
    background-color: rgb(236, 255, 154);
}
.game-main{
text-align: center;
font-size: 50px;
}
.game-main4{
    height: 700px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-flow: column;
}
.select{
    height: 80px;
    font-size: 40px;
    width: 220px;
    text-align: center;
    border: solid 2px #000;
    margin-top: 50px;
    background-color: #ffffff;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all  1s ease;
}
.select:hover{
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 100px;
    font-size: 50px;
    color: #ffffff;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

.back{
    width: 1000px;
    height: 700px;
    background: url(images/967589.jpg); 
}
