.game-main1{
    height: 300px;
    text-align: center;
    width: 100%;
    padding-top: 60px;
    font-size: 200px;
    }
.game-main2{
    height: 200px;
    text-align: center;
    width: 100%;
    font-size: 80px;
    background-color: aqua;
}
.start{
    height: 150px;
    width: 350px;
    border: solid 2px #000;
    text-align: center;
    padding-top: 15px;
    background-color: aquamarine;
}
.game-main3{
    height: calc(100% -300px -200px);
    text-align: right;
    width: 100%;
    font-size: 50px;
    display: flex;
}
.rule{
    height: 90px;
    width: 180px;
    border: solid 2px #000;
    margin-left: 80%;
    text-align: center;
    padding-top: 15px;
}