body, html {
    margin: 0 auto; /* 水平方向に中央揃え */
    padding: 0;
    height: 100%;
    width: 1250px; /* 幅を1250pxに固定 */
    background-color: #CDE7FF;
    font-family: YuGothic,'Yu Gothic',sans-serif;
    color: #333333;
}

.container {
    display: flex;
    justify-content: center; /* 要素を中央に配置する */
    align-items: center; /* 要素を垂直方向に中央に配置する */
    padding: 250px 0 100px;
}
.left-img img {
    max-width: 100px; /* 画像の最大幅を指定 */
    height: auto; /* 高さを自動調整 */
    margin-right: 40px; /* 画像の右側に余白を追加 */
}
.left-img {
    transform: rotate(-10deg);
}
.right-img img {
    max-width: 100px; /* 画像の最大幅を指定 */
    height: auto; /* 高さを自動調整 */
    margin-left: 40px; /* 画像の右側に余白を追加 */
}
.right-img {
    transform: rotate(10deg);
}

.fuwafuwa {
    animation: floating-y 1.8s ease-in-out infinite alternate-reverse;
  }
  @keyframes floating-y {
    0% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(10%);
    }
}

.message {
    color: #4d9bc1;
    font-size: 100px;
    line-height: 1.2;
    -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0,0,0,.6));
    margin-bottom: calc(1em + 20px);
}