body {
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

#cardgrid {
  width: 90%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  gap: 0.5vh;
}

div.card {
  aspect-ratio: 2 / 3;
  background-size: contain;
}

div.back {
  background-image: url(../images/z01.png) !important;
}

@keyframes fadeout {
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

div.fadeout {
  animation-name: fadeout;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#timer {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
}

#gameResult {
  display: none;
  text-align: center;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered {
  text-align: center;
}

.hidden {
  display: none;
}
#backBt{
  border: 3px solid #909090;
  border-radius: 8px;
}
