body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: #CDE7FF;
    font-family: YuGothic,'Yu Gothic',sans-serif;
}
.game_title {
    font-size: 50px;
    margin: 60px 0px 50px 130px;
    font-weight: bold;
}
.game_box {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
#contentFrame {
    width: 1250px;
    height: 725px;
    border: 2px solid black;
    box-sizing: border-box; 
}
.bg_pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffe9a7;
    opacity: 0.4;
    z-index: -1;
  }
  .Rhombus {
    background-image:  linear-gradient(135deg, #ffc107 25%, transparent 25%), linear-gradient(225deg, #ffc107 25%, transparent 25%), linear-gradient(45deg, #ffc107 25%, transparent 25%), linear-gradient(315deg, #ffc107 25%, #ffe9a7 25%);
    background-position:  20px 0, 20px 0, 0 0, 0 0;
    background-size: 20px 20px;
    background-repeat: repeat;
  }
  .game_operation {
    font-size: 50px;
    margin: 50px;
    text-decoration: underline;
    padding: 0 50px;
}
.operation_description {
    height: 500px;
    margin: 50px;
    font-size: 30px;
    padding: 0 50px;
}