body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: #CDE7FF;
    font-family: YuGothic,'Yu Gothic',sans-serif;
}
.game_title {
    font-size: 50px;
    margin: 60px 0px 50px 130px;
    font-weight: bold;
}
.game_box {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
#contentFrame {
    width: 1250px;
    height: 725px;
    border: 2px solid black;
    box-sizing: border-box; 
}